.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
h1 {
    text-align: center;
    color: #880085;
}

.input {
    text-align: center;
}

#search {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 0.7em;
    width: 40%;
    border: none;
    border-radius: 6px;
}



#button{
    width: 40.4%;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: #A452DE;
    color: white;
    
}
#button:hover{
    background-color:#880085;
    color:white;
}
.heading{
    background-color: #E0b0FF;
    width: 100%;
    padding-bottom: 2em;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
}
body{
    background: url(istockphoto-1286913307-612x612.jpg);
  
    background-size:100vh;
}

a{
    text-decoration: none;
}
@media only screen and (width>=1300px){
.card{
    background-color: transparent;
    backdrop-filter: blur(20px);
    height: 20rem;
    width: 30vw;
    margin: 1em;
  padding-top: 5px;
  padding-left: 23px;
  padding-right: 14px;
  padding-bottom: 14px;
   border-radius: 14px;
   box-shadow:0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
  
  
}
.card:hover{
    width: 33vw; 
    height: 22rem;
    padding-top: 5px;
    padding-left: 23px;
    padding-right: 14px;
    padding-bottom: 14px;
     border-radius: 14px;
     background-color: transparent;
     backdrop-filter: blur(20px);
     box-shadow:0 1.2rem 3rem 0.5rem rgba(56, 100, 219, 0.386);

}
}
@media (width<1300px)and (width>=830px){
    .card{
        background-color: transparent;
        backdrop-filter: blur(20px);
        height: 22rem;
        width: 40vw;
        margin: 1em;
      padding-top: 5px;
      padding-left: 23px;
      padding-right: 14px;
      padding-bottom: 14px;
       border-radius: 14px;
       box-shadow:0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
      
      
    }
    .card:hover{
        width: 43vw; 
        height: 25rem;
        padding-top: 5px;
        padding-left: 23px;
        padding-right: 14px;
        padding-bottom: 14px;
         border-radius: 14px;
         background-color: transparent;
         backdrop-filter: blur(20px);
         box-shadow:0 1.2rem 3rem 0.5rem rgba(56, 100, 219, 0.386);
    
    }
}
@media (width<830px) and (width>=580px){
    .card{
        background-color: transparent;
        backdrop-filter: blur(20px);
        height: 21rem;
        width: 60vw;
        margin: 1em;
      padding-top: 5px;
      padding-left: 23px;
      padding-right: 14px;
      padding-bottom: 14px;
       border-radius: 14px;
       box-shadow:0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
      
      
    }
    .card:hover{
        width: 63vw; 
        height: 24rem;
        padding-top: 5px;
        padding-left: 23px;
        padding-right: 14px;
        padding-bottom: 14px;
         border-radius: 14px;
         background-color: transparent;
         backdrop-filter: blur(20px);
         box-shadow:0 1.2rem 3rem 0.5rem rgba(56, 100, 219, 0.386);
    
    }
}
@media (width<580px){
    .card{
        background-color: transparent;
        backdrop-filter: blur(20px);
        height: 34rem;
        width: 80vw;
        margin: 1em;
      padding-top: 2px;
      padding-left: 23px;
      padding-right: 2px;
      padding-bottom: 14px;
       border-radius: 14px;
       box-shadow:0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
     
      
    }
    .card:hover{
        width: 83vw; 
        height: 37rem;
        padding-top: 2px;
        padding-left: 23px;
        padding-right: 2px;
        padding-bottom: 14px;
         border-radius: 14px;
         background-color: transparent;
         backdrop-filter: blur(20px);
         box-shadow:0 1.2rem 3rem 0.5rem rgba(56, 100, 219, 0.386);
         display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    
    }
    img{ width: 140px;
        align-items: center;
        margin-top: 0;
        padding-top: 0;
       padding-bottom: 16px;
       
    }
    .text{
      align-items: center;
    }
    h2{
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .error_text{
        text-align: center;
    padding-bottom: 8rem;
     font-size: 23px;
    }
}

img{ width: 120px;
    align-items: center;
    margin-right: 20px;
   float: left;
   padding-top: 2em;
}
p{
    color: #880085;
}
h2{
    text-align: center;
}
.text{
    
    overflow: hidden;
    margin-right: 7px;
    margin-left: 0;
    
}
.error_text{
    text-align: center;
 padding-top: 6em;
 font-size: 23px;
}
.ans{
    color: black;
    font-size: 17px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}






